{% extends "peliculas/base.html" %}

{% block title %}Director - {{ director }}{% endblock %}

{% block header-title %}{{ director }}{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Año Nacimiento</th>
            <th scope="col">Biografía</th>
            <th scope="col">Películas</th>
            <th scope="col">Información Pelicula</th>
        </tr>
        <tbody>
            <tr>
                <td> {{ director.fecha_nacimiento}} </td>
                <td> {{ director.biografia | linebreaks }}</td>
                {% for pelicula in director.pelicula_set.all %}
                    <td> <span class="nombre_pelicula">{{ pelicula }}</span>
                    <td>
                        <blockquote class="blockquote text-left">
                            <a href='/pelicula/{{pelicula.id}}' target="_parent"><buttontype="button" class="btn btn-info">Ver Pelicula</button></a>
                          </blockquote>
                    </td>
                    {% cycle '' '' '' %}
                {% empty %}
                    <td>No hay peliculas aún</td>
                {% endfor %}</td>
            </tr>
            
        </tbody>
    </thead>
</table>

<blockquote class="blockquote text-center">
    <a href="http://localhost:8000/" target="_parent"><buttontype="button" class="btn btn-info">Regresar al Inicio</button></a>
  </blockquote>

{% endblock %}